# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
.env
ai_env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# VS Code
.vscode/

# Data
backend/data/raw/
backend/data/processed/

# OS
.DS_Store
Thumbs.db

# Logs
*.log